<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>idlescreen</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IdleScreenAppGroupIdentifier</key>
	<string>$(IDLESCREEN_APP_GROUP_IDENTIFIER)</string>
	<key>IdleScreenCameraAgentAppGroupIdentifier</key>
	<string>$(IDLESCREEN_APP_GROUP_IDENTIFIER)</string>
	<key>IdleScreenCameraAgentMachServiceName</key>
	<string>$(IDLESCREEN_CAMERA_AGENT_MACH_SERVICE_NAME)</string>
	<key>IdleScreenCameraAgentTeamIdentifier</key>
	<string>$(IDLESCREEN_CAMERA_AGENT_TEAM_IDENTIFIER)</string>
	<key>IdleScreenSharedContainerEnabled</key>
	<string>$(IDLESCREEN_SHARED_CONTAINER_ENABLED)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.screensaver</string>
		<key>NSExtensionPointVersion</key>
		<string>1.0</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).IdleScreenScreenSaverExtension</string>
	</dict>
	<key>SSEHasConfigureSheet</key>
	<true/>
	<key>SSENeedsAnimationTimer</key>
	<true/>
	<key>ScreenSaverConfigurationSheetViewControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).IdleScreenScreenSaverConfigurationViewController</string>
	<key>ScreenSaverViewControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).IdleScreenScreenSaverViewController</string>
</dict>
</plist>
